{% extends 'layouts/layout-master.html' %}
{% block content%}
<h1>Hello, World!</h1>

<p>Dies ist eine Demo-Seite. Hier sollte IHRE Webseite stehen!</p>

<p>Diese Seite demonstriert eine winzige Applikation mit folgenden Funktionen:</p>

<ul>
	<li>eine (statische) Webseite, bestehend aus ein paar HTML-Seiten</li>
	<li>einem Webserver, bestehend aus einer kleinen NodeJS-Applikation, um die Seiten auszuliefern</li>
	<li>einem einfachen <a href="./formular.html">Formular</a>, um Senden von Form-POSTs zu demonstrieren</li>
	<li>einem einfachen <a href="./db-demo.html">Datenbank-Demo</a>, um die Verbindung von/zu einem Datenbank-Dienst zu demonstrieren</li>
</ul>

<p><strong>Diese Seite ist durch Ihre eigene Seite aus dem Modul M293 zu ersetzen!</strong></p>
{% endblock %}
