---
layout: layout-master.njk
title: Feedback-Demo
rel_prefix: ..
---

<h1>Formular-Demo</h1>

<p>Dieses Formular dient als Demo für:</p>

<ul>
  <li>das Senden von Formulardaten an ein Backend</li>
  <li>das Auswerten der Formulardaten im Backend</li>
  <li>das Senden einer Antwort aufgrund der Daten vom Server</li>
</ul>

<!-- Wir verwenden die htmx-Library (https://htmx.org/) für JavaScript-Form-Requests: -->
<form hx-post="http://localhost:3000/feedback" 
      hx-disabled-elt="find button[type=submit]" 
      enctype="application/x-www-form-urlencoded">
  <div>
    <label>
      Name:
      <input name="name" />
    </label>
  </div>
  <div>
    <label>
      Vorname:
      <input name="vorname" />
    </label>
  </div>
  <div>
	<button type="submit">Absenden</button>
  </div>
</form>
