---
layout: layout-master.njk
title: DB-API-Demo
rel_prefix: ..
---

<h1>Datenbank-API-Demo</h1>
<p>Das folgende Beispiel zeigt zwei asynchrone API-Requests ans backend:
	<ul>
		<li>Der Inhalt des Textfeldes wird ans backend geliefert, dieses speichert den Wert in einer Datenbank</li>
		<li>Die vorhandenen Einträge werden als API-Request geholt und dargestellt.</li>
	</ul>
</p>

<div>
	<!-- Wir verwenden die htmx-Library (https://htmx.org/) für JavaScript-Form-Requests: -->
	<form id="input-form" 
		  hx-post="http://localhost:3000/api/save-text" 
		  hx-disabled-elt="find button[type=submit]" 
		  hx-swap="none" 
		  hx-on::after-request="this.reset()" 
		  enctype="application/x-www-form-urlencoded">
		<label>Text eingeben:</label>
		<input type="text" name="textfeld" />
		<button type="submit" id="senden">Speichern</button>
	</form>
</div>

<div>
	<h2>Vorhandene Einträge</h2>
	<!-- Wir verwenden die htmx-Library (https://htmx.org/) für JavaScript-Requests: -->
	<div id="results" 
		 hx-get="http://localhost:3000/api/get-texts" 
		 hx-trigger="load, htmx:afterRequest from:form#input-form" >
		... keine Resultate ...
	</div>
</div>
